<html>
<head>
  {{> assets}}
  <script>window.todos = {{{toJSON todos}}}</script>
</head>
<body style="padding: 20px;">
  <h1>Your To Do List</h1>
  <div id="container">
    {{{body}}}
  </div>
</body>
</html>