<html>
<head>

</head>
<body>
<input id="page-name" type="hidden" value="home"/>
Index page - hello {{name}}

<div id="client-side-render" style="border : 1px solid #ccc; padding : 10px;"></div>

</body>
{{> assets}}
</html>