<html>
<head>

</head>
<body>
Index page - hello {{name}}

<div id="client-side-render" style="border : 1px solid #ccc; padding : 10px;"></div>

</body>
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/bundle.js"></script>
</html>